<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <p>This page shows using @RequestScoped to send to individual pages (opening multiple pages
    will not affect it)</p>

    <p>All these is relevant if you need CSRF protection, otherwise use JAX-RS</p>

    <script type="application/javascript">
        function listener(msg, ch) {
            console.log(ch + ": " + msg);
        }
    </script>
    <o:socket channel="basic" scope="view" onmessage="listener"/>
    <h:form>
        <h:commandButton action="#{complex.sendMessage}" value="Send Message">
            <f:ajax/>
        </h:commandButton>
        <br/>

        <script type="application/javascript">
            function logger(data) {
                console.log(data.status + ": " + data);
            }
        </script>
        <h:commandLink value="Link One" action="#{complex.sendMessage}">
            <f:param name="number" value="three"/>
            <f:ajax onevent="logger"/>
        </h:commandLink>
        <br/>

        <h:commandButton value="Big payload" action="#{complex.sendBigMessage('hogo bogo ha ha')}">
            <f:ajax/>
        </h:commandButton>

        <o:commandScript name="sendMessage"
                         action="#{complex.sendWithOmnifacesCommandScript}"
                         oncomplete="console.log('sendMessage: done')"
        />
    </h:form>
    <hr/>
    <p>This link is outside the form tag</p>
    <input type="button" value="Submit me!" onclick="sendMessage({age: 10})"/>
</h:body>
</html>
