<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <h1>#{simple.desc}</h1>
    <p>Use h:head, h:body so that the jsf.js file is injected</p>
    <p>The f:setPropertyActionListener is used to inject values into it</p>
    <h:form>
        <h:commandButton onclick="return confirm('Really want to do that?');"
                       action="#{simple.logger}"
                       value="Log on the server">
            <f:ajax render="@all"/>
            <f:setPropertyActionListener target="#{simple.desc}"
                                         value="A simple and short description"/>
        </h:commandButton>
    </h:form>
</h:body>
</html>
