<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:o="http://omnifaces.org/ui">
<h:head>
</h:head>
<h:body>
    <h1>Simple render and execute</h1>
    <p>Render defaults to none, execute defaults to this tag (not form)</p>
    <h:form>
        <h:inputText value="#{simple.name}"/>
        <h:commandButton value="Submit">
            <f:ajax render="@form" execute="@form"/>
        </h:commandButton>
        <h:outputText value="#{simple.name}"/>
    </h:form>
    <hr/>

    <h:form id="form1">
        <h:inputText value="#{simple.desc}">
            <f:ajax render="output"/>
        </h:inputText>
        <h:outputText id="output" value="#{simple.desc}"/>
    </h:form>
    <hr/>

    <h1>Mouseover</h1>
    <p>
        If you edit the field without the mouse hovering over the field,
        and then press submit, the value will not be updated
    </p>
    <h:form>
        <f:ajax event="mouseout" render="@form">
            <h:inputText value="#{simple.desc}"/>
            <h:commandButton value="Submit">
                <!-- you could nest ajax events to override, but this is already pretty messy -->
                <f:ajax event="click"/>
            </h:commandButton>
            <h:outputText value="#{simple.desc}"/>
        </f:ajax>
    </h:form>
    <hr/>

    <h1>Using delay and keyup event</h1>
    <p>
        If you set the render for the whole form, any changes loses the focus on the field,
        which can be annoying
    </p>
    <h:form>
        <h:inputText value="#{simple.desc}">
            <f:ajax event="keyup" render="a_output" delay="1000"/>
        </h:inputText>
        <h:outputText id="a_output" value="#{simple.desc}"/>
    </h:form>
    <hr/>

    <p>Using the immediate attribute ignores validation, updates, etc. Good for "Cancel" button</p>
    <h:form>
        <h:inputText value="#{simple.desc}"/>
        <h:commandButton value="Cancel" immediate="true">
            <f:ajax render="@form" delay="2000"/>
        </h:commandButton>
        <h:outputText value="#{simple.desc}"/>
    </h:form>
    <hr/>

    <h:form>
        <!-- you can also use a combination of <o:outputFormat>
        and <o:param> which accepts tags as input -->
        <o:url viewId="/whatsnew" var="_link">
            <f:param name="country" value="my"/>
            <f:param name="lang" value="en"/>
        </o:url>
        <h:commandLink value="A link that updates the URL bar"
                       action="#{simple.log}"
                       onclick="history.pushState('', '', '#{_link}');"
                       p:href="#{_link}"
                       p:target="_blank">
            <f:ajax/>
        </h:commandLink>
    </h:form>

</h:body>
</html>
