<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h1>Stateful</h1>
    <h:form>
        <h:inputText value="#{noState.name}"/>
        <h:commandButton action="#{noState.process}" value="Submit"/>
    </h:form>
    <hr/>

    <h1>Stateful</h1>
    <h:form>
        <h:inputText value="#{noState.name}"/>
        <h:commandButton action="#{noState.process}" value="Submit"/>
    </h:form>
    <hr/>

    <f:view transient="true">
        <h1>#{noState.name}</h1>
        <h:form>
            <h:inputText value="#{noState.name}"/>
            <h:commandButton action="#{noState.process}" value="Submit"/>
        </h:form>
    </f:view>
</f:view>
</html>
