<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<f:view>
    <h1>HTML5 Date doesn't work in Safari</h1>
    <h:link outcome="primefaces" value="Go to Primefaces examples"/>
    <hr/>
    <h:form>
        <p>Try 2015-05-05</p>
        <p><h:inputText value="#{simple.date}">
            <f:convertDateTime pattern="yyyy-MM-dd"/>
        </h:inputText></p>
        <h:commandButton value="Submit"/>
        <h:messages/>
    </h:form>
    <h:outputText value="#{simple.date}">
        <f:convertDateTime pattern="EEEEEEEE, MMM dd, yyyy" />
    </h:outputText>
    <h:form>
        <p><input type="date" pattern="yyyy-mm-dd" jsf:value="#{simple.dateString}"/></p>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:form>
        <h:inputText p:type="date" value="#{simple.dateString}" />
        <h:commandButton value="Submit"/>
    </h:form>
</f:view>
</html>
