<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head/>
<h:body>
    <h1>There are a bunch more, it can be found in the Primefaces calendar example</h1>
    <p>It uses jquery, adds quite some weight</p>
    <h:form>
        <p><p:calendar value="#{simple.date}" mode="inline"/></p>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:form>
        <p><p:calendar value="#{simple.date}"/></p>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:form>
        <p><p:calendar value="#{simple.date}" showOn="button"/></p>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:form>
        <p><p:calendar value="#{simple.date}" mindate="5/5/17" maxdate="6/6/17"/></p>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:form>
        <p><p:calendar value="#{simple.date}" pages="5"/></p>
        <h:commandButton value="Submit"/>
    </h:form>
</h:body>
</html>
