<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head></h:head>
<h:body>
    <p>Wait for at least 2 minutes, then press the button, and see the refresh in action</p>
    <h:form>
        <h:commandButton value="Submit">
            <f:ajax/>
        </h:commandButton>
    </h:form>
</h:body>
</html>
