<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>All these actions sends a websocket message to the users, just check back on their console page to check for results</p>
    <h:form>
        <h:commandButton action="#{admin.push('bob', 'foo bar baz')}" value="Send message to Bob"/>
        <h:commandButton action="#{admin.push('Cat', 'ha ha ha')}" value="Send message to Cat"/>
        <h:commandButton action="#{admin.pushAsync}" value="Send message after 2s to all users"/>
    </h:form>
</f:view>
</html>
