<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head/>
<h:body>
    <h:link outcome="admin" value="Go to admin page"/> to push messages<br/>
    <h:link>
        <f:param name="user" value="bob"/>
        User Bob
    </h:link><br/>
    <h:link value="User Cat (Open in a different browser)">
        <f:param name="user" value="Cat"/>
    </h:link><br/>
    <o:socket channel="main" user="${param.user}" onmessage="function(msg){console.log(msg);}"/>
</h:body>
</html>
