<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <h:outputStylesheet name="css/main.css"/>
    <title><ui:insert name="title">Default Title</ui:insert></title>
</h:head>
<body>
<ui:debug/>
<div class="heading">
    <ui:insert name="heading"/>
</div>

<div class="content">
    <ui:insert name="content"/>
</div>
</body>
</html>
