<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <h:outputScript library="javax.faces" name="jsf.js" target="head" />
    <h:outputScript library="omnifaces" name="fixviewstate.js" target="head" />
</h:head>
<h:body>
    <p>The FixViewState provided by Omnifaces is required for Mojarra</p>
    <h1>Simple CRUD</h1>
    <h2>List items</h2>
    <h:form rendered="#{not empty table.list}">
        <h:dataTable value="#{table.list}" var="item">
            <h:column><f:facet name="header">ID</f:facet>#{item.id}</h:column>
            <h:column><f:facet name="header">Value</f:facet>#{item.value}</h:column>
            <h:column>
                <h:commandButton value="edit">
                    <f:setPropertyActionListener value="#{item}" target="#{table.edit}"/>
                    <f:ajax execute="@form" render="@all"/>
                </h:commandButton>
            </h:column>
            <h:column>
                <h:commandButton value="delete" action="#{table.delete(item)}">
                    <f:ajax execute="@form" render="@all"/>
                </h:commandButton>
            </h:column>
        </h:dataTable>
    </h:form>
    <p jsf:rendered="#{empty table.list}">Table is empty! Please add new items</p>

    <h:form rendered="#{empty table.edit}">
        <h2>Add New Item</h2>
        <h:outputLabel value="Value: "/>
        <h:inputText id="new_input"
                     value="#{table.newValue}"
                     required="true"
                     requiredMessage="Cannot be empty"/>
        <h:commandButton value="Add" action="#{table.add}">
            <f:ajax execute="@form" render="@all"/>
        </h:commandButton>
        <h:message for="new_input"/>
    </h:form>

    <!-- rendered only if the property edit is set, which is done in the table -->
    <h:form rendered="#{not empty table.edit}">
        <h2>Edit Item ##{table.edit.id}</h2>
        <h:outputLabel value="Value: "/>
        <h:inputText id="edit_input"
                     value="#{table.edit.value}"
                     required="true"
                     requiredMessage="Cannot be empty"/>
        <h:commandButton value="Edit" action="#{table.editItem}">
            <f:ajax execute="@form" render="@all"/>
        </h:commandButton>
        <h:commandButton value="Cancel" action="#{table.editItem}" immediate="true">
            <f:ajax execute="@form" render="@all"/>
        </h:commandButton>
        <h:message for="edit_input" errorStyle="color: red"/>
    </h:form>
</h:body>
</html>
