<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:link outcome="index1" value="Simple @ViewScoped CRUD"/><br/>
<h1>Email</h1>
<h:link outcome="email/index" value="Simple (Fail)">
    <f:param name="key" value="isdafi9j4"/>
</h:link><br/>
<h:link outcome="email/index" value="Simple (Success)">
    <f:param name="key" value="asdofi90asdf823ij4kn32k4jkjklg9fg0sdg3"/>
</h:link><br/>
<!---->
<h:link outcome="email/index1" value="Omnifaces @Param (Empty)"/><br/>
<h:link outcome="email/index1" value="Omnifaces @Param (Fail)">
    <f:param name="key" value="isdafi9j4"/>
</h:link><br/>
<h:link outcome="email/index1" value="Omnifaces @Param (Success)">
    <f:param name="key" value="asdofi90asdf823ij4kn32k4jkjklg9fg0sdg3"/>
</h:link><br/>
<!---->
<h:link outcome="email/index2" value="f:viewParam only (Empty)"/><br/>
<h:link outcome="email/index2" value="f:viewParam only (Fail)">
    <f:param name="key" value="isdafi9j4"/>
</h:link><br/>
<h:link outcome="email/index2" value="f:viewParam only (Success)">
    <f:param name="key" value="asdofi90asdf823ij4kn32k4jkjklg9fg0sdg3"/>
</h:link><br/>
<!---->
<h:link outcome="email/index3" value="f:viewParam + f:viewAction (Empty)"/><br/>
<h:link outcome="email/index3" value="f:viewParam + f:viewAction (Fail)">
    <f:param name="key" value="isdafi9j4"/>
</h:link><br/>
<h:link outcome="email/index3" value="f:viewParam + f:viewAction (Success)">
    <f:param name="key" value="asdofi90asdf823ij4kn32k4jkjklg9fg0sdg3"/>
</h:link><br/>
</html>
