<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:commandButton action="#{heavyCalculation.run}" value="Run (10s) Delayed Message"/>
    </h:form>

    <h:panelGroup rendered="#{not empty heavyCalculation.value}">
        <h:outputText rendered="#{not heavyCalculation.value.done}"
                      value="It is still running, please wait"/>
        <h:outputText rendered="#{heavyCalculation.value.done}"
                      value="#{heavyCalculation.value.get()}"/>
    </h:panelGroup>
    <hr/>
    <p>Using @Eager (Omnifaces), you can load stuffs beforehand</p>
</f:view>
</html>
