<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <f:view transient="true"/>
    <p>The </p>
        <h1>#{simple.name}</h1>
        <h:form>
            <h:inputText value="#{simple.name}"/>
            <h:commandButton action="#{simple.log}" value="Submit"/>
        </h:form>
</h:body>
</html>
