<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<body>
<ui:composition template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">A List of Contacts</ui:define>
    <ui:define name="heading">Contacts</ui:define>

    <ui:define name="content">
        <ui:include src="WEB-INF/templates/contactsTable.xhtml" />
    </ui:define>

</ui:composition>
</body>
</html>
