<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <f:metadata>
        <f:viewAction action="#{cookieBean.setCookies}"/>
    </f:metadata>
    <p>The cookie is delayed by one page refresh, as it's set on page load</p>
    <hr/>
    <p>Cookie for foobarbaz: #{cookie.foobarbaz.value}</p>
    <p>Cookie for bob: #{cookie.bob.value}</p>
</f:view>
</html>
