<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>@GraphicImageBean is a convenience managed bean, to ease in generating images</p>
    <p>The value attribute only accepts method beans</p>
    <p>If these stuffs is not important, use h:graphicImage or HTML img</p>
    <o:graphicImage value="#{graphicsBean.fish}"/>
    <o:graphicImage value="#{graphicsBean.apple}" dataURI="true"/>
</f:view>
</html>
