<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <!-- could be useful -->
    <f:view transient="true"/>
    <f:metadata>
        <f:viewParam id="key" name="key" value="#{simpleView.key}"
                     required="true"
                     requiredMessage="If you access this page without a token, you're doing something right"/>
    </f:metadata>

    <p>Using f:viewParam, in a very, very short way</p>
    <h:message for="key"/>
    <hr/>

    <h:panelGroup rendered="#{!simpleView.valid}">
        <p>Your token key is invalid</p>
    </h:panelGroup>

    <h:panelGroup rendered="#{simpleView.valid}">
        <p>Congratulations, you have a valid token. Yay.</p>
    </h:panelGroup>
</h:body>
</html>
