<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <!-- could be useful -->
    <f:view transient="true"/>

    <p>Using Omnifaces @Param with @PostConstruct</p>
    <hr/>

    <h:panelGroup rendered="#{not simpleOmnifaces.valid}">
        <p>Your token key is invalid</p>
    </h:panelGroup>

    <h:panelGroup rendered="#{simpleOmnifaces.valid}">
        <p>Congratulations, you have a valid token. Yay.</p>
    </h:panelGroup>

    <hr/>
    <p>For some unknown reason, h:messages has to be placed below</p>
    <h:messages/>

</h:body>
</html>
