<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <!-- could be useful -->
    <f:view transient="true"/>

    <p>The activation property follows the Singleton pattern, where on access, it checks whether it's null</p>
    <p>This is to prevent redundant access check</p>
    <h2>This doesn't work, somehow @ManagedProperty doesn't add it</h2>
    <hr/>

    <h:panelGroup rendered="#{not simple.valid}">
        <p>Your token key is invalid</p>
    </h:panelGroup>

    <h:panelGroup rendered="#{simple.valid}">
        <p>Congratulations, you have a valid token. Yay.</p>
    </h:panelGroup>
</h:body>
</html>
