<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <f:metadata>
        <f:viewParam id="id" name="id" value="#{data.data}" required="true">
            <!--<f:validateLongRange minimum="10" maximum="20" />-->
        </f:viewParam>
        <!-- you can redirect users here -->
        <!-- onPostback allows POST form to do the same -->
        <f:viewAction action="#{data.onLoad}" onPostback="false"/>
    </f:metadata>
</f:view>
</html>
