<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>The Parameters bean will be used when the bean is accessed in this page</p>
    <p>If you remove the outputText part, it will not be used at all, thus won't trigger the managed bean</p>
    <h:outputText value="#{parameters.data}"/>
</f:view>
</html>
