<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>Custom validation messages is not working</p>
    <h:form>
        <h:inputText title="Type a number from 0 to 10"
                     value="#{simple.id}">
            <f:validateLongRange minimum="0" maximum="10"/>
        </h:inputText>
        <h:commandButton value="Submit"/>
        <h:messages showSummary="true" showDetail="false"/>
    </h:form>

    <h:form>
        <h:inputText value="10" validator="#{simple.validateNumberRange}"/>
    </h:form>
</f:view>
</html>
