<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <p>There are three ways to configure i18n, either in faces-config.xml, programmatically, or in JSF files</p>
    <f:loadBundle var="msgs" basename="messages"/>
    <f:view locale="de"/>

    <h:button value="#{msgs.next}"/>
    <h:outputFormat value="#{messages.question}">
        <f:param value="yes"/>
        <f:param value="no"/>
    </h:outputFormat>
    <p>#{messages['question.hard']}</p>
    <p>#{msgs.question}</p>

    <h:form>
        <h:commandButton action="#{localeChanger.changeLocaleToEn}" value="Change to English"/>
    </h:form>
</h:body>
</html>
