<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head/>
<h:body>
    <h:outputScript library="webjars" name="mithril/1.1.5/mithril.min.js" target="head"/>
    <h:outputScript library="local" name="js/main-deferred2.js" target="head"/>
    <h:form>
        <o:commandScript name="update_number" action="#{main.update}"/>
        <o:commandScript name="update_name" action="#{main.update2}" oncomplete="redraw()"/>
    </h:form>

    <h1>Proper Mithril example</h1>
    <p>The previous page is too messy. Click on the words below the line</p>
    <hr/>
    <div id="main"/>
    <div id="blah"/>

    <h:form>
        <h:commandButton value="Try a h:commandButton Ajax" action="#{main.update2}">
            <f:ajax onevent="f_ajax_redraw"/>
        </h:commandButton>
    </h:form>
</h:body>
</html>
