<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui">
<h:head/>
<h:body>
    <h:outputScript library="webjars" name="mithril/1.1.5/mithril.min.js" target="head"/>
    <h:outputScript library="local" name="js/main.js" target="head"/>
    <o:deferredScript library="local" name="js/main-deferred.js"/>
    <h1>Hello World</h1>
    <p>Note: When using CombinedResourceHandler, o:deferredScript and h:outputScript creates different resulting Javascript output</p>
    <h:link outcome="index2">Go to proper example page</h:link>
    <hr/>
    <h:form id="form">
        <o:commandScript name="update" action="#{main.update}" oncomplete="redraw()"/>
        <o:commandScript name="update2" action="#{main.update2}" oncomplete="redraw()"/>
    </h:form>
    <div id="main"/>
    <div id="blah"/>
    <h:outputScript>
        console.log('hello')
    </h:outputScript>
</h:body>
</html>
