<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form enctype="multipart/form-data">
        <p>File: <h:inputFile value="#{bean.file}"/></p>
        <h:commandButton action="#{bean.upload}" value="Upload"/>
    </h:form>
</f:view>
</html>
