<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
</h:head>
<h:body>
    <p>This page will call the log method every 3s</p>
    <p>o:commandScript is like any other h:commandXx tag, everything applies</p>
    <h:form>
        <o:commandScript name="logstuffs" action="#{logger.log}" render="@all"/>
        <h:commandButton action="#{logger.call}" value="Click me">
            <f:ajax/>
        </h:commandButton>
        <h:commandButton action="#{logger.update}" value="Update variable 'list'">
            <f:ajax/>
        </h:commandButton>
    </h:form>
    <p>Once you update the variable, in console, type 'Omnifaces.Ajax.data'</p>
    <h:outputScript target="body">setInterval(logstuffs, 300000);</h:outputScript>
</h:body>
</html>
