<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <f:metadata>
        <!-- read URL parameter data here -->
        <f:viewParam name="result" value="#{requestScope.name}"/>
    </f:metadata>

    <h:link outcome="input" value="Go to the input.xhtml page" /><br/>

    <h:link outcome="bookmarkable-url" value="Adds a URL parameter to the output"
            includeViewParams="true">
        <f:param name="result" value="Bob the Builder"/>
    </h:link><br/>
    <h:outputText rendered="#{not empty requestScope.name}"
                  value="#{requestScope.name}"/><br/>

    <h:outputLink value="https://google.com">
        <f:param name="id" value="asdfi98234jf"/>
        <f:param name="country" value="us"/>
        Go to Google
    </h:outputLink>

</f:view>
</html>
