<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:graphicImage id="mapImage" url="/resources/images/book_all.jpg"/>

    <h:graphicImage id="mapImage2"
                    name="book_all.jpg"
                    library="images"
                    alt="#{bundle.ChooseBook}"
                    usemap="#bookMap" />

    <!-- the resource directive works even in css files -->
    <h:graphicImage value="#{resource['images:wave.med.gif']}"/>
</f:view>
</html>
