<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    Refer to the docs for more details
    <h:form>
        <h:inputText id="name"
                     label="Customer Name"
                     size="30"
                     value="#{simple.name}"
                     required="true"
                     requiredMessage="Please add some input"
                     valueChangeListener="#{simple.valueChange}"/>
        <h:commandButton value="Submit"/>
        <h:messages/>

        <h:inputText>
            <f:valueChangeListener type="web.SimpleValueChangeListener"/>
        </h:inputText>
    </h:form>
</f:view>
</html>
