<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <h:inputText id="form1" required="true" requiredMessage="Type something"/>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:message for="form1"/>
    <hr/>

    <h:form id="form2">
        <h:inputText id="random"/>
        <h:commandButton action="#{messagesBean.newMessage}" value="Submit"/>
        <h:message for="random"/>
    </h:form>
    <hr/>

    <p>For messages set by FacesMessage with null clientId</p>
    <h:form>
        <h:commandButton action="#{messagesBean.manyNullMessages}" value="Submit"/>
    </h:form>
    <h:messages globalOnly="true"/>
</f:view>
</html>
