<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>A stateful navigation is non-idempotent calls, each navigation cannot be repeated</p>
    <p>If the session timeouts, these links become invalid</p>
    <h:form>
        <h:commandButton action="#{normalBean.anAction}" value="This is a normal button">
            <f:actionListener type="web.SimpleActionListener"/>
        </h:commandButton>
        <p>
            The link below is a link with some Javascript attached. Due to limitations, HTML links cannot be used
            to submit forms. Additionally, the action attribute points to a different page. This is convenient
            to send data from one page to another
        </p>
        <p>
            You can also set the page in the bean method, by returning a String (return the name of the page)
        </p>
        <h:commandLink action="input"
                       value="Click me"
                       actionListener="a_bean_method"/>
    </h:form>
</f:view>
</html>
