<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <!-- raw output, no tags -->
    <h:outputFormat value="Hello, {0}! You are visitor number {1} to the page.">
        <f:param value="#{'visitor'}" />
        <f:param value="#{20}"/>
    </h:outputFormat>

    <h:outputText value="No sir"/>

    <!-- wraps a HTML label tag -->
    <h:outputLabel value="Yes sir"/>

    <!-- wraps a HTML anchor tag -->
    <h:outputLink value="https://google.com">Google</h:outputLink>
</f:view>
</html>
