<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h1>Select one from a bunch of choices</h1>

    <h:form>
        <h:selectOneMenu value="#{selectOneBean.selection}">
            <f:selectItem itemValue="1"
                          itemLabel="bob"/>
            <f:selectItem itemValue="2"
                          itemLabel="cat"/>
        </h:selectOneMenu>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:outputLabel rendered="#{not empty selectOneBean.selection}"
                   value="Value selected is #{selectOneBean.selection}"/>

    <hr/>

    <h:form>
        <h:outputLabel for="discount" value="Do you want a discount?"/>
        <!-- can target either boolean (getter is isXxx) or Boolean (getter is getXxx) -->
        <h:selectBooleanCheckbox id="discount" value="#{selectOneBean.discount}"/>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:outputLabel rendered="#{selectOneBean.discount}"
                   value="You got some great discount there boy"/>

    <hr/>
    <h1>All the forms below points to the same data, but is presented differently</h1>

    <h:form>
        <h2>Grades in dropdown list</h2>
        <h:selectOneMenu value="#{selectOneBean.grade}"
                         required="true"
                         requiredMessage="Please select something...">
            <f:selectItem itemValue="0" itemLabel="Zeroooo" itemDisabled="true"/>
            <f:selectItems value="#{selectOneBean.listOfGrades}"/>
        </h:selectOneMenu>
        <h:commandButton value="Submit"/>
    </h:form>

    <h:form>
        <h2>Grades in radio list</h2>
        <h:selectOneRadio value="#{selectOneBean.grade}"
                          required="true"
                          requiredMessage="Please select something...">
            <f:selectItem itemValue="0" itemLabel="Zeroooo" itemDisabled="true" />
            <f:selectItems value="#{selectOneBean.listOfGrades}"/>
        </h:selectOneRadio>
        <h:commandButton value="Submit"/>
    </h:form>

    <h:form>
        <h2>Grades in list box</h2>
        <h:selectOneListbox value="#{selectOneBean.grade}"
                            required="true"
                            requiredMessage="Please select something...">
            <f:selectItem itemValue="0" itemLabel="Zeroooo" itemDisabled="true" />
            <f:selectItems value="#{selectOneBean.listOfGrades}"/>
        </h:selectOneListbox>
        <h:commandButton value="Submit"/>
    </h:form>

    <h:form>
        <h2>Grades in boolean list</h2>
        <h:selectBooleanCheckbox value="#{selectOneBean.grade}"
                            required="true"
                            requiredMessage="Please select something...">
            <f:selectItem itemValue="0" itemLabel="Zeroooo" itemDisabled="true" />
            <f:selectItems value="#{selectOneBean.listOfGrades}"/>
        </h:selectBooleanCheckbox>
        <h:commandButton value="Submit"/>
    </h:form>


    <h:outputLabel rendered="#{not empty selectOneBean.grade}"
                   value="The student's grade is #{selectOneBean.grade}"/>
    <h:messages/>

</f:view>
</html>
