<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <!-- if layout is not specified, list goes from left to right -->
        <h:selectManyCheckbox layout="pageDirection"
                              value="#{selectManyBean.chosenNumbers}">
            <f:selectItems value="#{selectManyBean.listOfNumbers}"/>
        </h:selectManyCheckbox>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:outputLabel rendered="#{not empty selectManyBean.chosenNumbers}"
                   value="The average is #{selectManyBean.chosenNumbers.stream().average().get()}"/>
    <hr/>

    <p>The converter (required for custom data) is based on Omnifaces utilities.
    Refer to the docs, as there are some special cases to adhere to</p>
    <h:form>
        <h:selectManyListbox value="#{selectManyBean.chosenHumans}"
                             converter="omnifaces.SelectItemsConverter">
            <f:selectItems value="#{selectManyBean.listOfHumans}"/>
        </h:selectManyListbox>
        <h:commandButton value="Submit"/>
    </h:form>
    <h:outputLabel value="You chose #{selectManyBean.chosenHumans.size()} humans!"/>
    <hr/>

    <p>Prefer selectManyListBox over this as that can set the size of the box</p>
    <h:form>
        <h:selectManyMenu value="#{selectManyBean.chosenNumbers}">
            <f:selectItems value="#{selectManyBean.listOfNumbers}"/>
        </h:selectManyMenu>
        <h:commandButton value="Submit"/>
    </h:form>
    <hr/>
</f:view>
</html>
