<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <style type="text/css">
        .order-table{
            border-collapse:collapse;
        }

        .order-table-header{
            text-align:center;
            background:none repeat scroll 0 0 #E5E5E5;
            border-bottom:1px solid #BBBBBB;
            padding:16px;
        }

        .order-table-odd-row{
            text-align:center;
            background:none repeat scroll 0 0 #FFFFFFF;
            border-top:1px solid #BBBBBB;
        }

        .order-table-even-row{
            text-align:center;
            background:none repeat scroll 0 0 #F9F9F9;
            border-top:1px solid #BBBBBB;
        }
    </style>
    <h1>Three ways to do it. h:dataTable, ui:repeat, and jsfc</h1>
    <p>Having multiple edit fields and submit buttons within one field is bad UX, as submitting by pressing
        the Enter button deletes it instead</p>
    <hr/>

    <h1>h:dataTable - Submitting any button updates ALL of the fields</h1>
    <h:form>
        <h:dataTable value="#{table.orderList}" var="o"
                     styleClass="order-table"
                     headerClass="order-table-header"
                     rowClasses="order-table-odd-row, order-table-even-row">
            <h:column>
                <f:facet name="header">Order No</f:facet>
                #{o.orderNo}
            </h:column>
            <h:column>
                <f:facet name="header">Product Name</f:facet>
                <h:inputText value="#{o.productName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Price</f:facet>
                #{o.price}
            </h:column>
            <h:column>
                <f:facet name="header">Quantity</f:facet>
                #{o.qty}
            </h:column>
            <h:column>
                <f:facet name="header">Delete?</f:facet>
                <h:commandButton action="#{table.delete(o)}" value="Yes"/>
            </h:column>
        </h:dataTable>
    </h:form>
    <hr/>

    <h1>ui:repeat</h1>
    <table>
        <thead>
        <tr>
            <th>Order No</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        <ui:repeat value="#{table.orderList}" var="o">
            <h:form>
                <tr>
                    <td>#{o.orderNo}</td>
                    <td><h:inputText value="#{o.productName}"/></td>
                    <td>#{o.price}</td>
                    <td>#{o.qty}</td>
                    <td><h:commandButton action="#{table.delete(o)}" value="Yes"/></td>
                </tr>
            </h:form>
        </ui:repeat>
        </tbody>
    </table>
    <hr/>

    <h1>jsfc (i prefer this)</h1>
    <table>
        <thead>
        <tr>
            <th>Order No</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        <tr jsfc="ui:repeat" value="#{table.orderList}" var="o">
            <h:form>
                <td>#{o.orderNo}</td>
                <td><h:inputText value="#{o.productName}"/></td>
                <td>#{o.price}</td>
                <td>#{o.qty}</td>
                <td><h:commandButton action="#{table.delete(o)}" value="Yes"/></td>
            </h:form>
        </tr>
        </tbody>
    </table>

</f:view>
</html>
