<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form>
        <p>Value: #{flowScope.value}</p>
        <p><h:commandButton value="Previous Page" action="simple" /></p>
        <p><h:commandButton value="Return" action="simple-return" /></p>
    </h:form>
</f:view>
</html>
