<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:form id="simple">
        <h1>Simple Integer-only Converter</h1>
        <p>Try submitting no input, or characters</p>
        <h:inputText id="id" value="#{simple.id}" required="true" converter="javax.faces.Integer"/>
        <h:inputText id="id2" value="#{simple.id}" required="true">
            <f:converter converterId="javax.faces.Integer"/>
        </h:inputText>
        <h:commandButton value="Submit"/>
        <h:messages/>
    </h:form>
    <h:outputText value="#{simple.date}">
        <f:convertDateTime pattern="EEEEEEEE, MMM dd, yyyy" />
    </h:outputText>
    <h:form>
        <h1>Box Converter</h1>
        <h:inputText id="box" value="#{simple.box}">
            <f:converter converterId="boxcnvrtr"/>
        </h:inputText>
        <h:commandButton value="Submit"/>
        <h:outputText value="#{simple.box}" rendered="#{not empty simple.box}" converter="boxcnvrtr"/>
    </h:form>
</f:view>
</html>
