<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:link value="Go to index page using GET request"/><br/>
    <h:link outcome="html" value="Check out html redirect"/><br/>
    <h:link outcome="javascript" value="Check out html redirect (using javascript)"/><br/>
    <hr/>
    <p>All @RequestScoped data is gone due to the GET redirect (POST -> GET)</p>
    <h:form>
        <h:inputText value="#{bean.name}"/>
        <h:commandButton action="#{bean.redirect}" value="Redirect"/>
        <h:commandButton action="#{bean.refresh}" value="Refresh"/>
        <h:commandButton action="#{bean.redirectGoogle}" value="Redirect to Google"/>
    </h:form>
</f:view>
</html>
