<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>Three ways to do it</p>
    <h:graphicImage value="product/1234.png"
                    title="Click to see more information"
                    p:data-popup-title="Available for shipping within 24 hours"
                    p:data-product-id="1234" />

    <h:graphicImage value="product/1234.png"
                    title="Click to see more information">
        <f:passThroughAttribute name="data-popup-title"
                                value="The product is available for shipping within 24 hours" />
        <f:passThroughAttribute name="data-product-id"
                                value="1234" />
    </h:graphicImage>

    <!-- productAttributes returns Map<String, Object(or String)> -->
    <h:graphicImage value="product/1234.png"
                    title="Click to see more information">
        <f:passThroughAttributes value="#{product.productAttributes}" />
    </h:graphicImage>

    <!-- ajax-ish update url -->
    <h:commandLink value="NoWhere" onclick="history.pushState('', '', '#{_link}');"
                   p:href="#{_link}" p:target="_blank">
        <f:ajax/>
    </h:commandLink>
</f:view>
</html>
