<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
    <h1>Repeating with HTML elements</h1>
    <!-- output of both are different, but still interesting -->
    <div>
        <p jsfc="ui:repeat" value="#{stuffs.stuffs}" var="stuff">
            #{stuff.name}
        </p>
    </div>

    <div>
        <ui:repeat value="#{stuffs.stuffs}" var="stuff">
            <h:outputText value="#{stuff.name} "/>
        </ui:repeat>
    </div>

</f:view>
</html>
