<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:metadata>
    <f:viewParam name="file" value="#{bean.filename}"/>
    <f:viewAction action="#{bean.download}" if="#{not empty param.file}"/>
</f:metadata>
<f:view>
    <h:link value="Back to the main page"/><br/>
    <h:link value="Download foo.jpeg">
        <f:param name="file" value="foo.jpeg"/>
    </h:link><br/>
    <h:link value="Download large sample file">
        <f:param name="file" value="sample.dat"/>
    </h:link> Generate using 'dd if=/dev/urandom of=sample.dat bs=10000 count=1024'<br/>
    <h:link value="Download nonexistant file">
        <f:param name="file" value="fooooo.jpeg"/>
    </h:link><br/>
    <h:panelGroup rendered="#{not empty param.file}">
        <!-- this will be called when the parameter exist, but the file is not -->
        <p>The file doesn't exist, please try a different link</p>
    </h:panelGroup>
</f:view>
</html>
