<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
<f:view>
    Deferred evaluation (use this)
    <h:outputText value="#{simpleBean.name}"/>

    Immediate evaluation, evaluated immediately on the first render
    <h:outputText value="${simpleBean.name}"/>

    <!-- This problem is solved in JSF 2.3 -->
    <o:importConstants type="web.CardSuites" var="card"/>
    <h:outputLabel rendered="#{simpleBean.suites == card.HEART}"/>

    <p>Accessing properties or Map #{simpleBean.details["fosf"]}</p>
    <p>Accessing properties or Map #{simpleBean.properties.sdfs}</p>
    <p>Boolean #{false}</p>
    <p>List #{simpleBean.list[0]}</p>
    <p>Literals #{"literal"} #{true} #{99}</p>

    Method Calls
    <h:form>
        <h:inputText value="#{simpleBean.methodCallOne(1)}"/>
        <h:commandButton action="#{simpleBean.methodCallTwo}" value="Method Call Two"/>
    </h:form>

    Java 8 Streams
    <p>#{[1,2,3,4].stream.sum}</p>
</f:view>
</html>
