<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <p>Two ways, 2nd method uses Omnifaces</p>
    <hr/>
    <h:form>
        <h:commandButton action="get" value="Submit">
            <f:param name="country" value="cn"/>
            <f:param name="day" value="saturday"/>
        </h:commandButton>
    </h:form>
    <hr/>
</f:view>
</html>
